body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #007bff;
    background-image: url('https://cdn.discordapp.com/attachments/861700235890130986/1139848916062441552/bg.gif');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Rainbow {
    0% { color: #ff3399; }
    14% { color: #ff66cc; }
    28% { color: #ff9900; }
    42% { color: #ffcc00; }
    57% { color: #33cc33; }
    71% { color: #3399ff; }
    85% { color: #9966ff; }
    100% { color: #ff3399; }
}

h1:hover, h2:hover {
    animation: Rainbow 5s infinite linear;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="submit"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

input[type="text"]:focus {
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: #ff5555;
    margin-top: 1rem;
    transition: color 0.3s ease-in-out;
}

.error:hover {
    color: #ff0000;
}

@media (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}

.header-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}
